@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 2px solid red;
}

:root{
/* Primary  */
--Soft-red: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%); 

/* Neutral  */
--Dark-brown: hsl(25, 47%, 15%);
--Medium-brown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Very-pale-orange: hsl(33, 100%, 98%);
}

body{
    background-color: var(--Cream);
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;  
}

main{
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Balance Chart styles */

.balance-chart__bar {
    background-color: var(--Soft-red);
    width: 33.75rem;
    height: 7.813rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}

.balance-chart__bar-balance {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    align-items: center;
}

.balance-chart__bar-balance p, 
.balance-chart__bar-balance small {
    color: var(--Very-pale-orange);
}

.balance-chart__bar-balance small {
    font-weight: 200;
}

.balance-chart__bar-balance p {
    font-size: 1.5rem;
    font-weight: 700;
}

/* Balance Chart styles end */


/* Dashboard Chart styles */

.dashboard-chart__bar-chart{
    position: relative;
    top: 3rem;
}

.dashboard-chart__bar {
    background-color: var(--Very-pale-orange);
    width: 33.75rem;
    height: 31.938rem;
    border-radius: 1rem;
    padding: 1.5rem 2rem;
}

.dashboard-chart__bar h3{
    color: var(--Dark-brown);
    font-weight: 700;
}

.dashboard-chart__bar-chart-item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 460.5px;
    height: 178px;
    border-radius: 0.135rem;
}

.dashboard-chart__bar-chart-item-bar-1 {
    background-color: var(--Soft-red);
    width: 3.148rem;
    height: 3.125rem;
    border-radius: 0.135rem;
    position: relative;
    top: 7.5rem;
    left: -0.2rem;
}

.dashboard-chart__bar-chart-item-bar-2 {
    background-color: var(--Soft-red);
    width: 3.148rem;
    height: 6.25rem;
    border-radius: 0.135rem;
    top: 4.5rem;
    left: 0.2rem;
}

.dashboard-chart__bar-chart-item-bar-3 {
    background-color: var(--Soft-red);
    width: 3.148rem;
    height: 9.375rem;
    border-radius: 0.135rem;
    top: 1.5rem;
    left: 1rem;
}

.dashboard-chart__bar-chart-item-bar-4 {
    background-color: var(--Soft-red);
    width: 3.148rem;
    height: 5.563rem;
    border-radius: 0.135rem;
    top: 5.3rem;
    left: 2rem;
}

.dashboard-chart__bar-chart-item-bar-5 {
    background-color: var(--Soft-red);
    width: 3.148rem;
    height: 4.188rem;
    border-radius: 0.135rem;
    top: 6.675rem;
    left: 2rem;
}

.dashboard-chart__bar-chart-item-bar-6 {
    background-color: var(--Soft-red);
    width: 3.148rem;
    height: 7.75rem;
    border-radius: 0.135rem;
    top: 3.1rem;
    left: 2rem;
}

.dashboard-chart__bar-chart-item-bar-7 {
    background-color: var(--Soft-red);
    width: 3.148rem;
    height: 4.563rem;
    border-radius: 0.135rem;
    top: 6.3rem;
    left: 2.5rem;
}

.graph-bar {
    position: relative;
    /* top: 100px; */
    cursor: pointer;
}

.graph-bar:hover {
    background-color: var(--Cyan);
}

hr{
    border: 1.3px solid var(--Cream);
    position: relative;
    top: 3rem;
    width: 28.75rem;
}

.week-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard-chart__bar-chart-item-bar {

}

.dashboard-chart__bar-chart-item-day {

}

.month-totals { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    position: relative;
    top: 3rem;
}

.month-totals__total p{
    font-size: 2rem;
    font-weight: 700;
}

.month-totals__percentage small, .month-totals__total small{
    color: var(--Medium-brown);
}

.month-totals__percentage p{
    color: var(--Dark-brown);
    font-weight: 600;
}

/* Dashboard Chart styles end */
@media (max-width: 48rem) {
    main{
        margin: 5rem auto;
    }

    .balance-chart__bar {
        height: 6.063rem;
        width: 21.438rem;
    }

    .graph-bar{
        width: 2.063rem;
    }

    .dashboard-chart__bar-chart-item{
        width: 18.938rem;
    }

    .dashboard-chart__bar-chart-item-bar-1{
        left: 0.2rem;
    }

    .dashboard-chart__bar-chart-item-bar-2{
        left: 0.2rem;
    }
    
    .dashboard-chart__bar-chart-item-bar-3 {
        left: 0rem;
    }
    
    .dashboard-chart__bar-chart-item-bar-4 {
        left: -0.125rem;
    }
    
    .dashboard-chart__bar-chart-item-bar-5 {
        left: -0.375rem;
    }
    
    .dashboard-chart__bar-chart-item-bar-6 {
        left: -0.71rem;
    }

    .dashboard-chart__bar-chart-item-bar-7 {
        left: -0.858rem;
    }
    
    .dashboard-chart__bar{
        height: 25.75rem;
        width: 21.438rem;
    }

    hr{
        top: 1rem;
        width: 18.938rem;
    }

    .month-totals{
        top: 0;
        padding: 1rem 0rem;
    }
}
